[submodule "build-infra"]
	path = build-infra
	url = git@github.com:Metaswitch/clearwater-build-infra.git
[submodule "modules/c-ares"]
	path = modules/c-ares
	url = git@github.com:bagder/c-ares.git
[submodule "modules/curl"]
	path = modules/curl
	url = git@github.com:Metaswitch/curl.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:Metaswitch/gmock-upstream.git
[submodule "modules/libmemcached"]
	path = modules/libmemcached
	url = git@github.com:Metaswitch/libmemcached-upstream.git
[submodule "modules/libre"]
	path = modules/libre
	url = git@github.com:Metaswitch/libre-upstream.git
[submodule "modules/openssl"]
	path = modules/openssl
	url = git@github.com:openssl/openssl.git
[submodule "modules/pjsip"]
	path = modules/pjsip
	url = git@github.com:Metaswitch/pjsip-upstream.git
[submodule "modules/restund"]
	path = modules/restund
	url = git@github.com:Metaswitch/restund.git
[submodule "modules/sipp"]
	path = modules/sipp
	url = git@github.com:Metaswitch/sipp.git
[submodule "modules/websocketpp"]
	path = modules/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
[submodule "modules/sas-client"]
	path = modules/sas-client
	url = git@github.com:Metaswitch/sas-client.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
[submodule "modules/libevhtp"]
	path = modules/libevhtp
	url = git@github.com:Metaswitch/libevhtp.git
[submodule "modules/gcovr"]
	path = modules/gcovr
	url = git@github.com:gcovr/gcovr.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "modules/app-servers"]
	path = modules/app-servers
	url = git@github.com:Metaswitch/clearwater-app-servers.git
[submodule "modules/gemini"]
	path = modules/gemini
	url = git@github.com:Metaswitch/gemini.git
[submodule "modules/thrift"]
	path = modules/thrift
	url = git@github.com:Metaswitch/thrift.git
[submodule "modules/cassandra"]
	path = modules/cassandra
	url = https://github.com/apache/cassandra.git
[submodule "clearwater-etcd-plugins"]
	path = modules/clearwater-etcd-plugins
	url = git@github.com:Metaswitch/clearwater-etcd-plugins.git
