*.debhelper
*.debhelper.log
*.substvars
/changelog
/files
/bono-dbg/
/bono/
/bono-node-dbg/
/bono-node/
/clearwater-sipp/
/clearwater-sipp-dbg/
/clearwater-sip-stress/
/clearwater-sip-stress-stats/
/clearwater-sip-perf/
/restund/
/sprout-dbg/
/sprout-libs-dbg/
/sprout-libs/
/sprout-node-dbg/
/sprout-node/
/sprout/
/sprout-base/
/sprout-base-dbg/
/sprout-scscf/
/sprout-scscf-dbg/
/sprout-icscf/
/sprout-icscf-dbg/
/sprout-bgcf/
/sprout-bgcf-dbg/
/sprout-mmtel-as/
/sprout-mmtel-as-dbg/
/gemini-as/
/gemini-as-dbg/
/call-diversion-as/
/call-diversion-as-dbg/
/mangelwurzel-as/
/mangelwurzel-as-dbg/
