Source: sprout
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: sprout-libs
Architecture: any
Depends: libevent-2.0-5, libevent-pthreads-2.0-5
Description: Libraries for sprout, bono and restund

Package: sprout-libs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-libs (= ${binary:Version})
Recommends: gdb,
Description: Debugging symbols for sprout-libs

Package: sprout-node
Architecture: any
Depends: sprout (= ${binary:Version}), clearwater-memcached, chronos, astaire, rogers
Description: sprout-node, the SIP Router node

Package: sprout-node-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-node (= ${binary:Version})
Recommends: sprout-dbg, chronos-dbg, memcached-dbg, astaire-dbg, rogers-dbg
Description: Debugging symbols for sprout-node, the SIP Router node

Package: sprout
Architecture: any
Depends: sprout-base, sprout-scscf, sprout-icscf, sprout-bgcf, sprout-mmtel-as
Suggests: sprout-dbg, clearwater-logging, clearwater-snmp-alarm-agent
Description: sprout, the SIP Router

Package: sprout-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout (= ${binary:Version})
Recommends: sprout-base-dbg, sprout-scscf-dbg, sprout-icscf-dbg, sprout-bgcf-dbg, sprout-mmtel-as-dbg
Description: Debugging symbols for sprout, the SIP Router

Package: sprout-base
Architecture: any
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-log-cleanup, sprout-libs, libboost-regex1.54.0, libboost-system1.54.0, libboost-thread1.54.0, libzmq3, libevent-pthreads-2.0-5, clearwater-socket-factory, libboost-filesystem1.54.0, libboost-locale1.54.0, libsnmp30 (>= 5.7.3~dfsg-clearwater1), clearwater-monit, clearwater-nginx
Suggests: sprout-dbg, clearwater-logging
Replaces: sprout
Description: sprout-base, the SIP Router basic executable

Package: sprout-base-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-base (= ${binary:Version})
Recommends: gdb, sprout-libs-dbg
Description: Debugging symbols for sprout, the SIP Router

Package: sprout-scscf
Architecture: any
Depends: sprout-base, libxml2-utils
Suggests: sprout-scscf-dbg
Description: sprout-scscf, the SIP Router S-CSCF plug-in

Package: sprout-scscf-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-scscf (= ${binary:Version})
Description: Debugging symbols for sprout-scscf, the SIP Router S-CSCF plug-in

Package: sprout-icscf
Architecture: any
Depends: sprout-base
Suggests: sprout-icscf-dbg
Description: sprout-icscf, the SIP Router I-CSCF plug-in

Package: sprout-icscf-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-icscf (= ${binary:Version})
Description: Debugging symbols for sprout-icscf, the SIP Router I-CSCF plug-in

Package: sprout-bgcf
Architecture: any
Depends: sprout-base
Suggests: sprout-bgcf-dbg
Description: sprout-bgcf, the SIP Router BGCF plug-in

Package: sprout-bgcf-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-bgcf (= ${binary:Version})
Description: Debugging symbols for sprout-bgcf, the SIP Router BGCF plug-in

Package: sprout-mmtel-as
Architecture: any
Depends: sprout-base
Suggests: sprout-mmtel-as-dbg
Description: sprout-mmtel-as, the SIP Router MMTEL Application Server plug-in

Package: sprout-mmtel-as-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sprout-mmtel-as (= ${binary:Version})
Description: Debugging symbols for sprout-mmtel-as, the SIP Router MMTEL Application Server plug-in

Package: gemini-as
Architecture: any
Depends: sprout-base
Suggests: gemini-as-dbg
Description: gemini, the Mobile Twinning Application Server plug-in

Package: gemini-as-dbg
Architecture: any
Section: debug
Priority: extra
Depends: gemini-as (= ${binary:Version})
Description: Debugging symbols for gemini, the Mobile Twinning Application Server plug-in

Package: call-diversion-as
Architecture: any
Depends: sprout-base
Suggests: call-diversion-as-dbg, clearwater-snmp-handler-cdiv
Description: The Call Diversion Application Server plug-in

Package: call-diversion-as-dbg
Architecture: any
Section: debug
Priority: extra
Depends: call-diversion-as (= ${binary:Version})
Description: Debugging symbols for the Call Diversion Application Server plug-in

Package: mangelwurzel-as
Architecture: any
Depends: sprout-base
Suggests: mangelwurzel-as-dbg
Description: mangelwurzel, the B2BUA and SCC-AS emulator

Package: mangelwurzel-as-dbg
Architecture: any
Section: debug
Priority: extra
Depends: mangelwurzel-as (= ${binary:Version})
Description: Debugging symbols for mangelwurzel, the B2BUA and SCC-AS emulator

Package: bono-node
Architecture: any
Depends: bono (= ${binary:Version})
Description: bono-node, the SIP edge proxy node

Package: bono-node-dbg
Architecture: any
Section: debug
Priority: extra
Depends: bono-node (= ${binary:Version})
Recommends: bono-dbg
Description: Debugging symbols for bono-node, the SIP edge proxy node

Package: bono
Architecture: any
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-log-cleanup, sprout-libs, libboost-regex1.54.0, libboost-system1.54.0, libboost-thread1.54.0, libzmq3, libevent-pthreads-2.0-5, clearwater-socket-factory, libboost-filesystem1.54.0, libsnmp30 (>= 5.7.3~dfsg-clearwater1), clearwater-monit
Suggests: restund, bono-dbg, clearwater-logging
Description: bono, the SIP edge proxy

Package: bono-dbg
Architecture: any
Section: debug
Priority: extra
Depends: bono (= ${binary:Version})
Recommends: gdb
Description: Debugging symbols for bono, the SIP edge proxy

Package: restund
Architecture: any
Depends: clearwater-infrastructure, sprout-libs
Suggests: clearwater-logging, clearwater-snmpd
Description: restund, the STUN/TURN server

Package: clearwater-sipp
Architecture: any
Suggests: clearwater-sipp-dbg
Description: Clearwater build of SIPp, used for running SIP stress and performance tests

Package: clearwater-sipp-dbg
Architecture: any
Section: debug
Priority: extra
Depends: clearwater-sipp (= ${binary:Version})
Recommends: gdb
Description: Debugging symbols for the Clearwater build of SIPp, used for running SIP stress and performance tests

Package: clearwater-sip-stress
Architecture: any
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-sipp
Conflicts: sprout, sprout-node, bono, restund
Suggests: clearwater-logging, clearwater-snmpd, clearwater-sip-stress-stats
Description: Runs SIP stress against Clearwater

Package: clearwater-sip-stress-stats
Architecture: any
Depends: clearwater-sip-stress, libzmq3-dev, ruby1.9.3, build-essential
Description: Exposes SIP stress statistics over the clearwater statistics interface.

Package: clearwater-sip-perf
Architecture: any
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-sipp
Suggests: clearwater-logging, clearwater-snmpd
Description: Runs SIP performance tests against Clearwater

