#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

# Don't clean, build, test or install
override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_test:
	mkdir debian/tmp

override_dh_auto_install:
	mkdir debian/tmp
	cp build/bin/sprout build/bin/bono

# Don't start - monit does that for us.
override_dh_installinit:
	dh_installinit --no-start -u"defaults 60 40"

override_dh_shlibdeps:
override_dh_strip:
	dh_strip -psprout-libs --dbg-package=sprout-libs-dbg
	dh_strip -psprout-base --dbg-package=sprout-base-dbg
	dh_strip -psprout-scscf --dbg-package=sprout-scscf-dbg
	dh_strip -psprout-icscf --dbg-package=sprout-icscf-dbg
	dh_strip -psprout-bgcf --dbg-package=sprout-bgcf-dbg
	dh_strip -psprout-mmtel-as --dbg-package=sprout-mmtel-as-dbg
	dh_strip -pgemini-as --dbg-package=gemini-as-dbg
	dh_strip -pcall-diversion-as --dbg-package=call-diversion-as-dbg
	dh_strip -pmangelwurzel-as --dbg-package=mangelwurzel-as-dbg
	dh_strip -pbono --dbg-package=bono-dbg
	dh_strip -pclearwater-sipp --dbg-package=clearwater-sipp-dbg
