# Poll every 10 seconds
set daemon 10

# Monitor the server's PID file and check its public interfaces.
check process restund matching restund
  start program = "/etc/init.d/restund start"
  stop program = "/etc/init.d/restund stop"
  if failed host LOCAL_IP port 3478 type udp
     send "\0x00\0x01\0x00\0x00\0x21\0x12\0xa4\0x42MonitPollXid"
     # monit truncates the response at the first NUL, so we can't match
     # the whole thing:
     # expect "\0x01\0x01..\0x21\0x12\0xa4\0x42MonitPollXid.*"
     expect "\0x01\0x01"
     with timeout 5 seconds for 3 cycles
     then exec "/etc/init.d/sprout abort-restart"
